.main-container {
    justify-content: center;
    padding: 50px 100px;
}

.contact-form {
    display: flex;
    flex-flow: column;
    flex: 0.25 0.8 600px;
    
    background-color: #0004;
    padding: 20px 20px 20px;
    border: solid 2px #FFF2;
    border-radius: 10px;
}

.contact-form label {
    display: inline-block;

    color: #FFFA;
    font-weight: 600;
    margin: 15px 15px 0;
}

.contact-form input[type="text"], .contact-form textarea {
    display: inline-block;

    padding: 10px;

    border-radius: 5px;
    margin: 5px 10px;
}

.contact-form button {
    color: #FFFC;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;

    background: #335;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px auto 0;

    transition: 0.25s;
}

.contact-form button:hover {
    color: #336;

    background-color: #FFFC;
}

/* DARK MODE --------------------------------------------------------------------------------- */

body:has(#theme-toggle:checked) {
    .contact-form {  
        background-color: #FFF;
        border: solid 2px #1121;
    }
    
    .contact-form label {
        color: #112A;
    }
}