.main-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 30px 0;
}

.profile-container {
    display: flex;
    flex-flow: column;
    
    background-color: #0004;
    border: solid 2px #FFF2;
    border-radius: 10px;
    margin: 5px;
}

.dev-profile {
    flex: 0.15 0 250px;
}

.contact-details {
    flex: 0.45 0 240px;

    padding: 20px 0 20px;
}

.avatar-container {
    display: flex;
    flex-flow: column;

    padding: 20px;
    border-bottom: 2px solid #FFF2;
}

.avatar-container img {
    width: 100px;
    border-radius: 50%;

    margin: 50px auto 0;

    transition: 0.25s;
}

.avatar-container img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #000;
}

.avatar-container h1 {
    font-size: 25px;
    text-align: center;
}

.avatar-container span {
    text-align: center;

    margin: 0 auto 10px;
}

.social-media {
    display: flex;
    align-items: center;

    text-decoration: none;

    min-width: 200px;
    padding: 0 5px;
    border-bottom: solid 1px #FFF1;
    margin: 0 10px;

    transition: 0.25s;
}

.social-media span {
    position: relative;
    left: 0;
    margin: 10px;
    transition: 0.25s;
}

.social-media:hover span {
    left: 5px;
    color: #FFF;
}

.social-media i {
    color: #FFFC;
    font-size: 30px;
    padding: 10px 7px 10px 0;
}

.profile-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 10px 10px 0;
}

.profile-label {
    display: inline-block;

    flex: 1 1 90px;

    font-weight: 600;
    margin: 5px 10px;
}

.profile-info {
    display: inline-block;
    flex: 19 1 180px;

    font-size: 15px;

    background: #0007;
    padding: 10px;
    border: solid 1px #FFF2;
    border-radius: 5px;
    margin: 5px 10px;
}

.portfolio-link {
    color: #FFFC;
    font-weight: 600;
    text-decoration: none;

    font-size: 16px;

    background: #335;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px auto 10px;

    transition: 0.25s;
}

.portfolio-link:hover {
    color: #335;

    background-color: #FFFC;
}

/* DARK MODE --------------------------------------------------------------------------------- */

body:has(#theme-toggle:checked) {  
    .profile-container {
        background-color: #FFF;
        border: solid 2px #1121;
    }
    
    .avatar-container {
        border-bottom: 2px solid #1122;
    }

    .avatar-container img:hover {
        box-shadow: 0px 0px 20px #77A;
    }
    
    .social-media {
        border-bottom: solid 1px #1121;
    }
    
    .social-media:hover span {
        color: #112;
    }
    
    .social-media i {
        color: #112C;
    }
    
    .profile-info {
        background: #FFF7;
        border: solid 1px #1122;
    }
}