* {
    margin: 0;
    padding: 0;

    transition: 0.1s;
}

body {    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, #191922 10%, #292937 50%, #191922 90%);
}

nav {
    color: #FFFC;
    background: linear-gradient(90deg, #191922 10%, #292937 50%, #191922 90%);

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    border-bottom: solid 1px #FFF3;
}

.navbar {
    display: flex;
    list-style: none;
    align-items: stretch;
}

.navbar li:has(#theme-toggle) {
    margin-left: auto;
    align-content: center;
    padding: 0 10px;
}

.navbar a {
    display: block;
    color: #FFFC;
    text-decoration: none;
    padding: 10px 20px;

    transition: .25s;
}

.navbar a:hover {
    color: #112;
    background-color: #CCC;
}

.navbar a:active {
    color: #335;
    background-color: #FFF;
}

.navbar a.current {
    pointer-events: none;
    background-color: #7777;
}


header {
    background-image: linear-gradient(90deg, #001C, #0007, #001C), url(../img/header.png);
    align-content: center;

    text-align: center;
    font-size: calc(100% + 1vw);

    background-size: cover;
    background-position: center;
    
    height: calc(15vw + 100px);
    padding: 10px 0;
}

header h1 {
    color: #FFF;
    text-shadow: 0 0 5px #FFF7;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFC;
    margin: 20px 0;
}

.sections-container {
    flex: 4;
}

.sections-container h2, aside h2 {
    margin-top: 40px;
}

.sections-container h3 {
    margin-top: 20px;
}

p {
    color: #FFFA;
    text-align: justify;
    margin: 10px 0 ;
}

section ol, section ul {
    color: #FFFA;
    padding-left: 15px;
}

section li {
    padding-left: 10px;
}

span {
    color: #FFFA;
    margin: auto;
}

input[type="text"], input[type="password"], textarea {
    color: #FFFA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;

    background-color: #3347;
    outline: none;
    border: none;
    padding: 5px 5px;
    margin: 5px;
}

textarea {
    min-height: 60px;
    resize: vertical;
}

input::placeholder, textarea::placeholder {
    color: #777;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

aside {
    position: sticky;
    top: 40px;
    left: 0;

    flex: 1;

    height: 100%;
    padding: 0 50px 0 30px;
}

aside a {
    color: #FFFA;
    text-decoration: none;

    border-bottom: solid 1px transparent;
}

aside a:hover {
    color: #FFFC;

    border-bottom-color: #FFFC;

    transition: .25s;
}

aside ul {
    padding-top: 20px;
    padding-left: 0;
}

aside li {
    list-style: none;

    margin-bottom: 10px;
}

footer {
    text-align: center;
}

footer p {
    text-align: center;
}

.main-container {
    display: flex;
    flex-flow: row;

    margin: auto;
    margin-bottom: 50px;
    padding: 0 100px;
}


.footer {
    color: #FFF;
    border-top: 1px solid #FFF3;
    text-align: center;
}

.footer-links {
    margin: 20px auto;
}

.footer-links a {
    color: #FFF7; 
    text-decoration: none;
    margin: 0 20px;

    transition: 0.25s; 
}

.footer-links a:hover {
    color: #FFF; 
    text-decoration: underline;
}

.footer-contact {
    margin: 20px 0;
}

.contact-button {
    display: inline-block;
    color: #FFFC;
    font-size: 15px;
    text-decoration: none;

    background: #559;
    border-radius: 20px;
    padding: 10px 20px;
    margin: auto;
    margin-bottom: 10px;

    transition: 0.25s;
}

.contact-button:hover {
    color: #336;
    
    background-color: #CCC;
}

.footer-bottom {
    margin-top: 10px; 
    font-size: 14px; 
}


/* DARK MODE --------------------------------------------------------------------------------- */

.toggle {
    display: flex;
    align-self: stretch;
    justify-content: center;
}

.toggle i {
    margin: auto;
}
  
.toggle input {
    display: none;
}

.toggle .slider {
    position: relative;
    cursor: pointer;

    background-color: #CCF3;

    width: 40px;
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;

    transition: 0.25s;
}

.toggle input:checked + .slider {
    background-color: #1123;
}

.toggle input:checked + .slider::before {
    background-color: #335;
    transform: translateX(20px);
}
  
.toggle .slider::before {
    content: '';

    position: absolute;
    top: 1px;
    left: 1px;

    width: 18px;
    height: 18px;
    background-color: #CCC;
    border-radius: 50%;

    transition: .25s;
}

body:has(#theme-toggle:checked) {
    background-image: linear-gradient(90deg, #FFF 10%, #FFF 50%, #FFF 90%);

    nav {
        color: #112C;
        background-image: linear-gradient(90deg, #FFF 10%, #FFF 50%, #FFF 90%);
        border-color: #1123;
    }

    nav a {
        color: #112C;
    }

    nav a:hover {
        color: #112E;
    }

    header {
        background-image: linear-gradient(90deg, #CCF3, #FFF5, #CCF3), url(../img/header.png);
    }

    header h1 {
        color: #112;
        text-shadow: 2px 2px 2px #1127;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #112C;
    }

    p {
        color: #112A;
    }

    section ol, section ul {
        color: #112A;
    }

    span {
        color: #112A;
    }

    input[type="text"], input[type="password"], textarea {
        color: #112A;
        background-color: #F3F3F3;
    }

    input::placeholder, textarea::placeholder {
        color: #AAA;
    }

    aside a {
        color: #112A;
    }

    aside a:hover {
        color: #112C;
        border-bottom-color: #112C;
    }

    .footer {
        color: #112;
        border-top: 1px solid #1123;
    }
    
    .footer-links a {
        color: #1127; 
    }
    
    .footer-links a:hover {
        color: #112; 
    }
}